.flagFr {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  box-shadow: 0 0 0 13px $color-1;
  // transform: scale(0.1);
  transform: translate(-200px, -55px) scale(0.12);

  &:hover {
    box-shadow: 0 0 0 13px $color-3 !important;
  }
}

@media screen and (max-width: 850px) {
  .flagFr {
    display: none;
  }
}
